*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.box{
    margin-left: 60px;
}
.box1{
    background-color: rgb(118, 183, 221);
    position: relative;
    /* height: 70px; */
    border: 1px solid black;
    /* width:40%; */
    margin-bottom: 10px;
}
.box1 h3{
    background-color: burlywood;
    float: right;
    margin-top: 0;
}

.box2{
    background-color: rgb(0, 217, 255);
    position: relative;
  
    border: 1px solid black;
    
    margin-bottom: 10px;
}
.box2 h3{
    background-color: rgb(121, 17, 153);
    float: right;
    margin-top: 0;
}

.box3{
    background-color: rgb(144, 204, 223);
    position: relative;
   
    border: 1px solid black;
   
}
.box3 h3{
    background-color: rgb(32, 160, 43);
    float: right;
    margin-top: 0;
}

@media screen  {
    .box1,.box2,.box3{
        width:25%;
        float: left;
        margin:20px 20px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .box1{
        width:40%;
    }
    .box2{
        width:40%;
        float: left; 
    }
    .box3{
        width:85%
    }
}
@media (max-width:765px){
    .box1,.box2,.box3{
        width:50%;
       
    }
}